## .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/
*.DotSettings.user

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## NuGet
*.nupkg
**/packages/*

## Local settings
appsettings.Local.json
launchSettings.json

## OS
.DS_Store
Thumbs.db